@(loginForm: Form[Login], mensaje: String)
@main("Login") {
    @if(mensaje != "") {
        <div class="alert alert-danger">
            @mensaje
        </div>
    }
    <h1>Login</h1>
    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        @helper.form(action = routes.LoginController.login()) {
            <fieldset>
                @helper.inputText(loginForm("login"), '_label -> "Login")
                @helper.inputPassword(loginForm("password"), '_label -> "Contraseña")
            </fieldset>
            <p>
            <button type="submit" class="btn btn-primary">Entrar</button>
            <a class="btn btn-link" href="@routes.LoginController.registroUsuario()">Registro</a></p>
        }
    </div>
    <div class="col-md-4"></div>
   </div>
}
